* {
    font-family: 'Open Sans', sans-serif;

}
body {

    background-color: rgb(88, 84, 84);
}
main {
    margin: 20px;
}

#sf-jumbo {
    background-image: url("./citylights.jpg");
    opacity: .5;
    height: 400px;
    width: 100%;
    margin-top: 0px;
}

h2 {
    font-weight: bold;
}

#about-me {
    padding: 20px;
    margin: 50px;
}

#project-1 {
    margin: 50px;
    padding: 10px;
    height: 400px;
    background-image: url(./bw-pet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
}

#project-2 {
    margin-top: 5px;
    padding: 10px;
    height: 200px;
    background-image: url(./bw-pass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
}

#project-3 {
    margin-top: 5px;
    padding: 10px;
    height: 200px;
    background-image: url(./bw-weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
}

.projects {
    width: fit-content;
}

.text, a {
    color: white;
}

#contact-info {
    margin: 50px;
}
.contact {
    color: black;
}